<h1><strong>Books</strong></h1>

<table>
  <tr>
    <th>Title</th>
    <th>Body</th>
    <th colapan="3"></th>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td>Show</td>
    <td>Edit</td>
    <td>Destroy</td>
  </tr>
</table>

<div class="new">
  <h2>New book</h2>
  <div class="title box">
    <p>Title</p>
  </div>
  <div class="body box">
    <p>Body</p>
  </div>
  <a href="#">Submit</a>
</div>
